// Brand
$color-brand-1: $color-black;
$color-brand-2: $color-purple;

// Standard
$color-standard-1: $color-black;
$color-standard-2: $color-grey-dark;
$color-standard-3: $color-grey-medium;
$color-standard-4: $color-white;

// Interactive
$color-interactive-1: $color-black;
$color-interactive-2: $color-green-light;
$color-interactive-3: $color-white;
$color-interactive-4: $color-grey-medium;

// Status
$color-status-1: $color-green;
$color-status-2: $color-yellow;
$color-status-3: $color-red;
