// stylelint-disable property-no-unknown, selector-pseudo-class-no-unknown
$radius-round: 50%;
$radius-xs: rem-calc(4px);
$radius-s: rem-calc(8px);
$radius-m: rem-calc(16px);
$radius-l: rem-calc(24px);
