$spacing-none: 0;
$spacing-1: rem-calc(4px);
$spacing-2: rem-calc(8px);
$spacing-3: rem-calc(12px);
$spacing-4: rem-calc(16px);
$spacing-5: rem-calc(24px);
$spacing-6: rem-calc(32px);
$spacing-7: rem-calc(40px);
