// stylelint-disable color-no-hex, property-no-unknown, selector-pseudo-class-no-unknown
$color-black: #000;
$color-grey-dark: #4f4e4c;
$color-grey-medium: #aaa8a3;
$color-grey-light: #e1ded9;
$color-grey-ulight: #e5e5e5;
$color-grey-xlight: #f3f2f0;
$color-white: #fff;
$color-green: #17b558;
$color-green-light: #6fff00;
$color-yellow: #fcc740;
$color-red: #f44e4e;
$color-purple: #9f4494;
